<div class="main clearfix">
    <div class="main-content">
        <div class="body">
                <div class="container">
                    <div class="row">
                      <div class="col-xs-3"></div>
                      <div class="col-xs-6">
                      <div>
                      <p>一般のお客様は会員登録なしですべての機能がご利用になれます。当サイトでは一般のご利用者様の会員登録は行っておりません。こちらは施設運営の方の会員登録ページになります。恐れ入りますが一般のお客様はサイト上部の「サイトトップ」からお戻りくださいませ。</p>
                      </div>
                        <h2>施設運営者様　会員登録ページ</h2>
                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                          <%= devise_error_messages! %>
                          <%= render'users/profile_form', f: f %>
                          <div class="field">
                            <%= f.label :password %>
                            <% if @minimum_password_length %>
                            <em>(<%= @minimum_password_length %> characters minimum)</em>
                            <% end %><br />
                            <%= f.password_field :password, autocomplete: "new-password" %>
                          </div>

                          <div class="field">
                            <%= f.label :password_confirmation %><br />
                            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                          </div>

                          <div class="actions">
                            <%= f.submit "新規登録" %>
                          </div>
                        <% end %>
                        <%= link_to"新規会員登録がお済みの方はこちらからログインしていただけます。", new_user_session_path %>
                      </div>
                      <div class="col-xs-3"></div>
                    </div>
                </div>
            </div>
      </div>
</div>
<%= render "devise/shared/links" %>
