<% unless user.try(:admin?) %>
<div class="col-xs-3">
 <ul class="list-group">
      <li class="list-group-item img">&nbsp;&nbsp;&nbsp;<% user.images.first(1).each do |image| %><%= attachment_image_tag image, :image, :fill, 200,120 %><% end %></li>
      <li class="list-group-item"><strong>施設名</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to (user_path(user)) do %><%= user.name %><% end %></li>
      <li class="list-group-item"><strong>施設タイプ</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= user.kind_id %></li>
      <li class="list-group-item"><strong>メールアドレス</strong><br><%= user.email %></li>
      <li class="list-group-item"><strong>電話番号</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= user.telephone %></li>
      <li class="list-group-item"><strong>郵便番号</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;〒<%= user.postcode %></li>
      <li class="list-group-item"><strong>住所</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= user.area_id %><%= user.address %></li>

</ul>
<%= link_to"詳しく見る",user_path(user),class:"btn-lg btn-show fas fa-search",style:"padding-top: 10px; padding-bottom: 10px; color:white; margin-bottom: 18px;" %>
</div>
<% end %>
<script>
        // $('#<%= user.id %>').raty({
        //   size     : 36,
        //   starOff:  '<%= asset_path('star-off.png') %>',
        //   starOn : '<%= asset_path('star-on.png') %>',
        //   starHalf: '<%= asset_path('star-half.png') %>',
        //   scoreName: 'review[star]',
        //   score: '3',
        //   half: true,
        //   readOnly: true
        // });
</script>
