<div class="container">
  <div class="row">
      <aside class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item list-group-item-info" style="text-align: center; background-color: #f8f8f8;　border-color: #e7e7e7; color:black;"><strong><%= @user.name %></strong></li>
            <li class="list-group-item"><%= render 'users/swiper', images: @images %></li>
            <li class="list-group-item"><strong>施設名</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @user.name %></li>
            <li class="list-group-item"><strong>メールアドレス</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= @user.email %></li>
            <li class="list-group-item"><strong>電話番号</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= @user.telephone %></li>
            <li class="list-group-item"><strong>郵便番号</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;〒<%= @user.postcode %></li>
            <li class="list-group-item"><strong>住所</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @user.address %></li>
            <li class="list-group-item"><strong>紹介文</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @user.introduction %></li>
            <li class="list-group-item"><strong>紹介動画</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @user.url %></li>
            <li class="list-group-item"><strong>評価ランク</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;>☆★★★★(4.0)</li>
            <li class="list-group-item"><strong>最新口コミ</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;>(user.reviews)とても親切な介護士さんが多く在籍している印象です。体験入所で丁寧な案内をしていただきました、満足しています</li>
          </ul>
            <iframe
              width="100%"
              height="450"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDImgYaMym5UukQ3IVw25uaDpFZFAIQiVo&q=<%= @user.address %><" allowfullscreen>
            </iframe>
            <% if @user.id == current_user.id %>
             <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-success " %></p>
            <% end %>
      </aside>
      <aside class="col-md-4">
        <% if @user != current_user && logger %>
          <section class="message_box">
            <div id="messages">
              <%= render @messages %>
            </div>
          </section>
          <script type="text/javascript">
            var height = 0;
            $("div.message").each( function() {
              height += ($(this).height());
            });
            $('section.message_box').scrollTop(height);
          </script>
          <div class="message_form">
          <%= render 'messages/message_form',
            {from_user: current_user, to_user: @user, room_id: @room_id} %>
          </div>
        <% end %>
      </aside>
  </div>
</div>
