<div class="main-visual">
  <div class="message-container">
    <h2 class="top-message">『あなたを支えたい』がここにある。</h2>
    <p class=message>私たちがあなたに合った老人ホーム探しの <br>
    お手伝いをさせていただきます。</p>
  </div>
</div>

<div>
    <h1>フリーワード検索</h1>
    <%= form_tag(root_path,:method => 'get') do %>
    <%= text_field_tag :search %>
    <%= submit_tag '検索する', :name => nil %>
    <% end %>
</div>
<h1>地域検索</h1>
<div class="jap">
    <div class="map-header">
        <h2 class="fa fa-search">地域を選んで検索</h2>
    </div>
    <div class="hokkaidou balloon-down">
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_1">北海道</p>
    </div>
    <div class="tohoku balloon-left">
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_2">青森県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_3">岩手県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_4">宮城県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_5">秋田県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_6">山形県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_7">福島県</p>
    </div>
    <div class="kantou balloon-left">
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_8">茨城県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_9">栃木県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_10">群馬県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_11">埼玉県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_12">千葉県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_13">東京都</p>
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_14">神奈川県</p>
    </div>
    <div class="tyubu balloon-down">
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_15">新潟県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_16">富山県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_17">石川県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_18">福島県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_19">山梨県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_20">長野県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_21">岐阜県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_22">静岡県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_23">愛知県</p>
    </div>
    <div class="kinki balloon-left">
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_24">三重県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_25">滋賀県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_26">京都府</p>
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_27">大阪府</p>
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_28">兵庫県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_29">奈良県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#prefecture_30">和歌山県</p>
    </div>
    <div class="tyugoku balloon-down">
        <p class="tab_btn btn-default btn-origin btn" href="#tottori">鳥取県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#shimane">島根県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#okayama">岡山県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#hiroshima">広島県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#yamaguti">山口県</p>
    </div>
    <div class="sikoku balloon-top">
        <p class="tab_btn btn-default btn-origin btn" href="#tokushima">徳島県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#kagawa">香川県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#ehime">愛媛県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#kouti">高知県</p>
    </div>
    <div class="kyusyu balloon-right">
        <p class="tab_btn btn-default btn-origin btn" href="#hukuoka">福岡県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#saga">佐賀県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#nagasaki">長崎県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#kumamoto">熊本県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#kouti">高知県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#miyazaki">宮崎県</p>
        <p class="tab_btn btn-default btn-origin btn" href="#kagoshima">鹿児島県</p>
    </div>
    <div class="okinawa balloon-right">
        <p class="tab_btn btn-default btn-origin btn" href="#okinawa">沖縄県</p>
    </div>
</div>
<!-- エリア別タブのコンテンツ部分 -->
<% i = 0%>
<% @prefectures.each do |prefecture|%>
<div class="clearfix">
<% i += 1 %>
    <div class="tab_item" id="prefecture_<%= i %>">
        <h1><%= prefecture[0]%></h1>
        <% User.where(area_id: i).each do |user| %>
<div class="col-xs-3">
 <ul class="list-group">
      <li class="list-group-item img">&nbsp;&nbsp;&nbsp;<% user.images.first(1).each do |image| %><%= attachment_image_tag image, :image, :fill, 200,120 %><% end %></li>
      <li class="list-group-item"><strong>施設名</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to (user_path(user)) do %><%= user.name %><% end %></li>
      <li class="list-group-item"><strong>施設タイプ</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= user.kind_id %></li>
      <li class="list-group-item"><strong>メールアドレス</strong><br><%= user.email %></li>
      <li class="list-group-item"><strong>電話番号</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= user.telephone %></li>
      <li class="list-group-item"><strong>郵便番号</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;〒<%= user.postcode %></li>
      <li class="list-group-item"><strong>住所</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= user.area_id %><%= user.address %></li>
</ul>
<%= link_to"詳しく見る",user_path(user),class:"btn-lg btn-show fas fa-search",style:"padding-top: 10px; padding-bottom: 10px; color:white; margin-bottom: 18px;" %>
</div>
        <% end %>
    </div>
<% end %>
</div>

<h1>施設の種類から探す</h1>
<div class="clearfix">
    <p class="tab_btn is-active-btn btn-default btn-origin" href="#item1">介護付有料老人ホーム</p>
    <p class="tab_btn btn-default btn-origin" href="#item2">住宅型有料老人ホーム</p>
    <p class="tab_btn btn-default btn-origin" href="#item3">健康型有料老人ホーム</p>
    <p class="tab_btn btn-default btn-origin" href="#item4">サービス付き高齢者向け住宅</p>
    <p class="tab_btn btn-default btn-origin" href="#item5">グループホーム</p>
    <p class="tab_btn btn-default btn-origin" href="#item6">特別養護老人ホーム(特養)</p>
    <p class="tab_btn btn-default btn-origin" href="#item7">介護老人保健施設(老健)</p>
    <p class="tab_btn btn-default btn-origin" href="#item8">介護療養型医療施設(療養病床)</p>
    <p class="tab_btn btn-default btn-origin" href="#item9">ケアハウス</p>
  <!-- 施設タイプ別タブのコンテンツ部分 -->
  <div class="tab_item is-active-item" id="item1">
        <h1>介護付有料老人ホーム</h1>
        <div class="text-container">
            <h2 class="fa fa-graduation-cap">介護付有料老人ホームとは？</h2>
            <h3>介護等のサービスが付いた高齢者向けの居住施設であり、介護が必要となっても、当該有料老人ホームが提供する特定施設入居者生活介護を利用しながら当該有料老人ホームの居室で生活を継続することが可能である。<br>介護サービスは有料老人ホームの職員が提供することとなっており、特定施設入居者生活介護の指定を受けていない有料老人ホームについては介護付と表示することはできない。<br>2006年より、介護サービス情報の公表制が導入され、介護付有料老人ホーム（特定施設入居者生活介護）の基本情報項目（自主申告の情報）、調査情報項目（調査員により客観的に確認された情報）がインターネット上で見ることが出来るようになっている</h3><p class="wiki">-wikipedia参照-</p>
        </div>
        <% @search_a.each do |s| %>
        <%= render 'users/search_result', user:s %>
        <% end %>
    </div>

  <div class="tab_item" id="item2">
  <h1>住宅型有料老人ホーム</h1>
    <div class="text-container">
    <h2 class="fa fa-graduation-cap">住宅型有料老人ホームとは？</h2>
    <h3>生活支援等のサービスが付いた高齢者向けの居住施設であり、介護が必要となった場合、入居者自身の選択により、地域の訪問介護等の介護サービスを利用しながら当該有料老人ホームの居室での生活を継続することが可能である。要介護度が重度になった場合、特定施設入居者生活介護より介護保険費用がかかるとされている。</h3><p class="wiki">-wikipedia参照-</p>
    </div>
      <% @search_b.each do |s| %>
      <%= render 'users/search_result', user:s %>
      <% end %>
  </div>

  <div class="tab_item" id="item3">
    <h1>健康型有料老人ホーム</h1>
        <div class="text-container">
            <h2 class="fa fa-graduation-cap">健康型有料老人ホームとは？</h2>
            <h3>食事等のサービスが付いた高齢者向けの居住施設であるが、介護が必要となった場合には、契約を解除し退去しなければならない。全国的にも数は非常に少ない。</h3><p class="wiki">-wikipedia参照-</p>
        </div>
      <% @search_c.each do |s| %>
       <%= render 'users/search_result', user:s %>
      <% end %>
  </div>

  <div class="tab_item" id="item4">
    <h1>サービス付き高齢者向け住宅</h1>
        <div class="text-container">
            <h2 class="fa fa-graduation-cap">サービス付き高齢者向け住宅とは？</h2>
            <h3>日本において、高齢者住まい法の基準により登録される、介護・医療と連携し、高齢者の安心を支えるサービスを提供する、バリアフリー構造の住宅。「サ高住」（さこうじゅう）と略して呼ばれることが多い。また、権利関係は賃貸借方式が一般的である。<br>ケアの専門家（社会福祉法人・医療法人・指定居宅サービス事業所等の職員、医師、看護師、介護福祉士、社会福祉士、介護支援専門員、介護職員初任者研修課程修了者）が少なくとも日中常駐し、安否確認サービスと生活相談サービスを、すべての入居者に対して提供する。常駐していない時間は、各居住部分に必要に応じて通報する装置を設置して、状況把握サービスを提供する</h3><p class="wiki">-wikipedia参照-</p>
        </div>
        <% @search_d.each do |s| %>
       <%= render 'users/search_result', user:s %>
      <% end %>
  </div>

  <div class="tab_item" id="item5">
      <h1>グループホーム</h1>
          <div class="text-container">
            <h2 class="fa fa-graduation-cap">グループホームとは？</h2>
            <h3>介護保険制度では、グループホームといえば認知症高齢者型を指す。<br>グループホーム（group home）とは、病気や障害などで生活に困難を抱えた人達が、専門スタッフ等の援助を受けながら、小人数、一般の住宅で生活する社会的介護の形態のことである。そこでは、地域社会に溶け込むように生活することが理想とされる。集団生活型介護という言い方もある。</h3><p class="wiki">-wikipedia参照-</p>
          </div>
      <% @search_e.each do |s| %>
       <%= render 'users/search_result', user:s %>
      <% end %>
  </div>

  <div class="tab_item" id="item6">
      <h1>特別養護老人ホーム(特養)</h1>
          <div class="text-container">
            <h2 class="fa fa-graduation-cap">特別養護老人ホーム(特養)とは？</h2>
            <h3>介護老人福祉施設（かいごろうじんふくししせつ）とは、介護保険法に基づいて介護保険が適用される介護サービスを手掛ける施設である。これらの施設は老人福祉法第11条に基づく市町村による入所措置の対象施設となっており、その文脈では特別養護老人ホーム（通称：特養）と呼ばれる。基本的に、要介護3から5のいずれかの要介護認定を受けている人が対象となる。サービス内容は30日以下に限定して宿泊するショートステイ。昼間に送迎付きの通いでサービスを受けるデイサービスなどがある。</h3><p class="wiki">-wikipedia参照-</p>
          </div>
      <% @search_f.each do |s| %>
       <%= render 'users/search_result', user:s %>
      <% end %>
  </div>
  <div class="tab_item" id="item7">
      <h1>介護老人保健施設(老健)</h1>
          <div class="text-container">
            <h2 class="fa fa-graduation-cap">介護老人保健施設(老健)とは？</h2>
            <h3>介護保険が適用される介護サービスで、在宅への復帰を目標に心身の機能回復訓練をする施設。また療養型介護老人保健施設（りょうようがたかいごろうじんほけんしせつ）とは、介護保険が適用される介護サービスで、病気や障害で自宅での生活が困難または在宅への復帰が困難な高齢者の日常生活の介護をする施設。通称、療養型老健または療養型老人保健施設。</h3><p class="wiki">-wikipedia参照-</p>
          </div>
      <% @search_g.each do |s| %>
       <%= render 'users/search_result', user:s %>
      <% end %>
  </div>
  <div class="tab_item" id="item8">
      <h1>介護療養型医療施設(療養病床)</h1>
          <div class="text-container">
            <h2 class="fa fa-graduation-cap">介護療養型医療施設(療養病床)とは？</h2>
            <h3>医療法に基づき、病状が安定期にある要介護者に対し、医学的管理のもとに介護その他の世話や必要な医療を行う施設である。</h3><p class="wiki">-wikipedia参照-</p>
          </div>
      <% @search_h.each do |s| %>
       <%= render 'users/search_result', user:s %>
      <% end %>
  </div>
  <div class="tab_item" id="item9">
      <h1>ケアハウス</h1>
          <div class="text-container">
            <h2 class="fa fa-graduation-cap">ケアハウスとは？</h2>
            <h3>軽費老人ホームにおけるC型の事を指す。軽費老人ホームとは、無料又は低額な料金で、60歳以上の者を入所させ、食事の提供その他日常生活上必要な便宜を供与することを目的とする施設（老人デイサービスセンター、老人短期入所施設、養護老人ホーム、特別養護老人ホームを除く）のことである。食事サービスのあるA型、自炊を前提とするB型、食事や生活介護などが付帯するC型（ケアハウス）の3つの種類があり、C型の開設件数が増加している。</h3><p class="wiki">-wikipedia参照-</p>
          </div>
      <% @search_i.each do |s| %>
       <%= render 'users/search_result', user:s %>
      <% end %>
  </div>
</div>
<h1>施設一覧</h1>
<div>
<% @users.each do |s|  %>
 <%= render'users/search_result',user:s %>
 <% end %>
</div>
